<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.bookong.example.zest.springboot.base.mapper.UserAuthMapper">
    <resultMap id="BaseResultMap" type="com.github.bookong.example.zest.springboot.base.entity.UserAuth">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="auth" jdbcType="VARCHAR" property="auth"/>
        <result column="expiration_time" jdbcType="TIMESTAMP" property="expirationTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, auth, expiration_time
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.bookong.example.zest.springboot.base.entity.UserAuth" useGeneratedKeys="true">
        insert into `user_auth` (
            user_id, auth, expiration_time
        )
        values (
            #{userId,jdbcType=BIGINT}, #{auth,jdbcType=VARCHAR}, #{expirationTime,jdbcType=TIMESTAMP}
        )
    </insert>

</mapper>