<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.bookong.example.zest.springboot.base.mapper.XkcdMapper">
  <resultMap id="BaseResultMap" type="com.github.bookong.example.zest.springboot.base.entity.Xkcd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="alt" jdbcType="VARCHAR" property="alt" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="pub_date" jdbcType="TIMESTAMP" property="pubDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, alt, img, pub_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xkcd
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>